@charset "utf-8";
/* CSS Document */
#header{
position: relative; text-align: center; width: 900px; margin: auto; height: 200px;

body {
font: 16px "Carnivalee Freakshow"; margin: auto; position: relative; width: 900px; height: auto;

#boite1 {
position: relative; margin: auto; margin-left: 20px; height: auto; width: 643px; float:left;

#boite2 {
position: relative; margin-left: 20px; height: 28px; width: 323px; float:left;

#footer {
font-size: 11px Arial, sans-serif; line-height: 14px; position: relative; width: 900px; height: 80px;

